<form action="{% url 'add_position' %}" method="post">

{% csrf_token %}
<select name="check">
<option></option>
{% for check in visit.checks.all %}
<option value="{{ check.id }}">Check #{{ check.id }}</option>
{% endfor %}
</select>
<input type="submit"/>
<ul>
{% for position in positions %}
    <li>
        <input name="position" type="checkbox" value="{{ position.id }}"/>
        <input name="position_count_{{ position.id }}" type="number"/>
        {{ position.name }}, {{ position.current_price }}
    </li>
{% endfor %}
</ul>
</form>
