<ul>
    <li>
        Check # {{ check.id }}
    </li>
    <li>
        Opened at {{ check.opened_at }}
    </li>
    <li>
        {% if check.confirmed %}
            Confirmed at {{ check.confirmed_at }}
        {% else %}
            Not confirmed
        {% endif %}
    </li>
    {% if check.closed %}
        <li>
            Closed at {{ check.closed_at }}
        </li>
        {% if check.closed_status != "normal" %}
        <li>
            {{ check.closed_desc }}
        </li>
        {% endif %}
    {% endif %}
</ul>
