{% extends "parents/visit.html" %}

{% block visit_content %}
<ul>
{% for check in visit.checks.all %}
<li>
    <a href="{% url 'go_to_check' check.id %}">Check #{{ check.id }}</a>
    <ul>
        <li>
            {% if check.confirmed %}
                Confirmed at {{ check.confirmed_at }}
            {% else %}
                Not confirmed
            {% endif %}
        </li>
    </ul>
    {% if check.closed %}, Closed at {{ check.closed_at }}{% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
