<ul>
    <li>
        Visit # {{ visit.id }}
    </li>
    <li>
        Opened at {{ visit.opened_at }}
    </li>
    <li>
        {% if visit.confirmed %}
            Confirmed at {{ visit.confirmed_at }}
        {% else %}
            Not confirmed
        {% endif %}
    </li>
    {% if visit.closed %}
        <li>
            Closed at {{ visit.closed_at }}
        </li>
        {% if visit.closed_status != "normal" %}
        <li>
            {{ visit.closed_desc }}
        </li>
        {% endif %}
    {% endif %}
</ul>
